.car{
  
  position: fixed;
  bottom: 0;
}


/*.road{
  width: 100%;
  height: 100%;
}*/

body {
    background-image: url("../images/road.jpg");
    `background-repeat : no-repeat;
    background-repeat: repeat-y;
    background-size: cover;
    /* width: 100%;
  height: 100%;
*/
}